
/* --------------------------------------------------------
/* ---- Responsive: 1920px
-------------------------------------------------------- */

@media only screen and (max-width:4000px) {

 


}/* 2200 */




/* --------------------------------------------------------
/* ---- Responsive: 1920px
-------------------------------------------------------- */

@media only screen and (max-width:1920px) {

 


}/* 19320 */







/* --------------------------------------------------------
/* ---- Responsive: 1800px
-------------------------------------------------------- */

@media only screen and (max-width:1800px) {

 

}/* 2200 */



/* --------------------------------------------------------
/* ---- Responsive: 1690px
-------------------------------------------------------- */

@media only screen and (max-width:1580px) {

.logo-senador {
    width: 400px;
}


.bloqueCentralVideo {
    width: 600px;
}


.btn_ver_video {
    width: 210px;
    font-size: 23px;
}

.SingleContenedor > .cuerpo-post {
    width: 70%;
}

 
} /* 1690 */


/* --------------------------------------------------------
/* ---- Responsive: 1480px
-------------------------------------------------------- */

@media only screen and (max-width:1420px) {
 
 
  .SingleContenedor > .cuerpo-post {
    width: 65%;
}

}/* 14480 */


/* --------------------------------------------------------
/* ---- Responsive: 1366px
-------------------------------------------------------- */

@media only screen and (max-width:1366px) {


.seccion-header {
    height: 890px;
}


.menu {
    width: 240px;
    height: auto;
}

.logo-prd {
    width: 200px;
}

 


}/* 1366 */




/* --------------------------------------------------------
/* ---- Responsive: 1280px
-------------------------------------------------------- */

@media only screen and (max-width:1290px) {

  

}/* 1280 */


/* --------------------------------------------------------
/* ---- Responsive: 1280px
-------------------------------------------------------- */

@media only screen and (max-width:1280px) {

 


}/* 1280 */


/* --------------------------------------------------------
/* ---- Responsive: 1200px
-------------------------------------------------------- */

@media only screen and (max-width:1200px) {

 
.SingleContenedor > .cuerpo-post {
    max-width: 1024px;
    width: 100%;
    float: none;
    margin: 0 auto;
    padding: 0px 0 20px 10px;
    border-right: solid 0px rgba(0, 0, 0, 0);
}

.BloqueSiderBar{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    float: none;
}

.BloqueSiderBar > .Bloques {
    width: 33.33%;
    height: 500px;
    float: left;
    padding: 0px 0 20px 10px;
    border-right: solid 50px rgba(0, 0, 0, 0);
}

.BloqueSiderBar > .titulo {
    width: 33.33%;
    height: auto;
    float: left;
    padding: 0px 0 20px 10px;
    border-right: solid 50px rgba(0, 0, 0, 0);
    display: none;
}

.titulo-p{
    width: 100% !important;
    height: auto !important;
    text-align: center !important;
   
    clear: both !important;
    display: block !important;
     margin: 0 auto !important;
    margin-bottom: 30px !important;

}


.BloqueSiderBar > .barra {
    width: 33.33%;
    height: 4px;
    float: left;
    padding: 0px 0 20px 10px;
    border-right: solid 50px rgba(0, 0, 0, 0);
    display: none;
}

}/* 1200 */


/* --------------------------------------------------------
/* ---- Responsive: 1152px
-------------------------------------------------------- */

@media only screen and (max-width:1152px) {
 

 .logo-senador {
    width: 330px;
}
 

}/* 1152 */


/* --------------------------------------------------------
/* ---- Responsive: 1024px
-------------------------------------------------------- */

@media only screen and (max-width:1024px) {
 
 

}/* 1024 */


 


/* --------------------------------------------------------
/* ---- Responsive: 1010px
-------------------------------------------------------- */

@media only screen and (max-width:1010px) {
 
 .menu{
  display: none;
 } 


  .menu-movil{
    display: block;
    -webkit-box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
  }


 .menu-movil-single{
    display: block;
    -webkit-box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
  }


.logo-senador {
  display: none;
}


.logo-prd {
  display: none;
}


.seccion-header {
  padding-top: 0px;
  margin-top: 40px;
}

.seccion-header-inside {
  padding-top: 0px;
  margin-top: 40px;
}


.bloqueCentralVideo {
    width: 500px;
}


.btn_ver_video {
    width: 195px;
    font-size: 23px;
}


.imagen_portada {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    background: url(../images/header/portada_movil.png) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.seccion-header {
    height: 460px;
}
 

.bloqueCentralVideo {
    width: 400px;
}


 .bloqueCentralVideo > .Logo-Orgullo {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.btn_ver_video {
    width: 120px;
    font-size: 14px;
    padding: 0px;
}


.barra-colores {
    width: 100%;
    height: 46px;
    background-size: 100% 46px;
}


.bloqueCentralVideo {
    bottom: 20px;
}


#player{
  height: 400px;
}

.ContenedorVideo > .btn_close {
    right: 10px;
    top: 50px;
}


.footer {
    width: 90%;
    height: auto;
    position: relative;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 60px;
    border-top: 4px solid #8A8A8A;
    padding-top: 20px;
    padding-bottom: 20px;
}


.logo-prd-footer{
  width: 60px;
}


.logo-tp-footer{
  width: 150px;
}


.logo-prd-footer {
    width: 50px;
    margin: 0 auto;
}

.logo-tp-footer { 
    width: 130px; 
    margin: 0 auto;
    float: none;
}



 .facebook{
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin: 0 auto;
 }


 .twitter{
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin: 0 auto;
 }


 .instagram{
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin: 0 auto;
 }



 .youtube{
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin: 0 auto;
 }


 .contenedorNoticiasNew {
    margin-top: 100px;
}


.BloquesNoticiasNew {
    width: 280px;
}

.BloquesNoticiasNew > .imagen {
    height: 149px;
}


.contenedorNoticiasNew .slick-prev{
  width: 20px;
  height: 34px;
  background: url("../images/Generales/Flecha-Izquierda.png");
  background-size: 20px 34px;
}


.contenedorNoticiasNew .slick-next{
  width: 20px;
  height: 34px;
  background: url("../images/Generales/Flecha-derecha.png");
  background-size: 20px 34px;
}


}/* 1000 */


/* --------------------------------------------------------
/* ---- Responsive: 1010px
-------------------------------------------------------- */

@media only screen and (max-width:960px) {

 .BloqueSiderBar > .Bloques {
    width: 50%;
    height: 500px;
    float: left;
    padding: 0px 0 20px 10px;
    border-right: solid 50px rgba(0, 0, 0, 0);
}

} /* 960*/


/* --------------------------------------------------------
/* ---- Responsive: 860px
-------------------------------------------------------- */

@media only screen and (max-width:860px) {

 .loop-seccion > .contenido > .BloquesNoticias{
  width: 50%;
}


}/* 800 */


/* --------------------------------------------------------
/* ---- Responsive: 860px
-------------------------------------------------------- */

@media only screen and (max-width:800px) {


 

}/* 800 */

/* --------------------------------------------------------
/* ---- Responsive: 768px
-------------------------------------------------------- */

@media only screen and (max-width:780px) {
 
.Textos-seccion > .titulo{
  font-size: 20px;
}


.loop-seccion > .titulo {
    font-size: 24px;
    margin-bottom: 24px;
}


}/* 768 */


/* --------------------------------------------------------
/* ---- Responsive: 680px
-------------------------------------------------------- */

@media only screen and (max-width:680px) {

  .SingleContenedor > .cuerpo-post > .titulo {
    font-size: 25px;
    line-height: 25px;
}

 .BloqueSiderBar > .Bloques {
    width: 100%;
    height: 340px;
    float: left;
    padding: 0px 0 20px 10px;
    border-right: solid 50px rgba(0, 0, 0, 0);
    padding: 0px 0 20px 10px;
    border-right: solid 0px rgba(0, 0, 0, 0);
}




}/* 680 */


/* --------------------------------------------------------
/* ---- Responsive: 650px
-------------------------------------------------------- */

@media only screen and (max-width:650px) {

 


}/* 650 */


/* --------------------------------------------------------
/* ---- Responsive: 600px
-------------------------------------------------------- */

@media only screen and (max-width:600px) {

 
.footer > .Bloques {
    width: 80%;
    height: auto;
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.SingleContenedor > .cuerpo-post {
    font-size: 16px;
    line-height: 25px;
} 

.SingleContenedor > .cuerpo-post blockquote {
    font-size: 18px;
    line-height: 24px;
}

.SingleContenedor > .cuerpo-post > .date {
    font-size: 14px;
}


}/* 600 */



 


/* --------------------------------------------------------
/* ---- Responsive: 568px
-------------------------------------------------------- */

@media only screen and (max-width:568px) {
 
.seccion-header {
    height: 460px;
}

.seccion-header-inside {
    height: 460px !important;
}
 

.bloqueCentralVideo {
    width: 100%;
}


 .bloqueCentralVideo > .Logo-Orgullo {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.btn_ver_video {
    width: 120px;
    font-size: 14px;
    padding: 0px;
}


.barra-colores {
    width: 100%;
    height: 46px;
    background-size: 100% 46px;
}

.loop-seccion > .contenido > .BloquesNoticias{
  width: 80%;
  float: none;
  margin: 0 auto;
  margin-bottom: 20px;

  border-right: solid 0px rgba(0, 0, 0, 0);
}

} /* 568 */


/* --------------------------------------------------------
/* ---- Responsive: 480px
-------------------------------------------------------- */

@media only screen and (max-width:480px) {
  
 .loop-seccion > .titulo {
    font-size: 20px;
    margin-bottom: 20px;
}



 

} /* 480 */


/* --------------------------------------------------------
/* ---- Responsive: 400px
-------------------------------------------------------- */

@media only screen and (max-width:420px) {
 
 


}/* 400 */


 
@media only screen and (max-width:380px) {
	 
  .SingleContenedor > .cuerpo-post > .titulo {
    font-size: 20px;
    line-height: 20px;
}
 


}/* 380 */


/* --------------------------------------------------------
/* ---- Responsive: 360px
-------------------------------------------------------- */

@media only screen and (max-width:360px) {

 
 
}/* 360 */



/* --------------------------------------------------------
/* ---- Responsive: 320px
-------------------------------------------------------- */

@media only screen and (max-width:320px) {
 

}/* 320 */
